# Client-side
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Server-side
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
OPENAI_API_KEY=
ADMIN_SEED_SECRET=

# Auth
AUTH_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
